<h1>Ping review</h1>
<p>The following boxes are failing to ping</p>


{{#each values}}
  {{#if result}}
    <p>{{host}} - {{name}}</p>
  {{/if}}
{{/each}}

<div id="store"></div>

<script>

</script>
